<div class="comments">
    {{#each this}}
    <section class="comment">
        <div class="meta">
            posted by {{user.username}} on {{format_date created_at}}
        </div>
        <div class="text">
            {{feedback}}
        </div>
        <button type="button" class="button is-danger delete-post-btn">Delete Comment</button>
    </section>
    {{/each}}
</div>