<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" contet="width=device-width, initial-scale=1.0">
    <title>Tech-Blog</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>

<body>
    <div class="wrapper">
        <header id="top-header">
            <h1 class="px-3 has-text-weight-bold" id="main-heading">Tech-Blog</h1>
            <nav class="navbar mt-2" id="home-login">

                <a href="/" class="navItem is-hoverable pt-1" id="homepage">Home</a>
                <!--- conditionally render login or logout -->
                {{#if loggedIn}}
                <a href="/dashboard" class="navItem is-hoverable pt-1" id="homepage">Dashboard</a>
                {{else}}
                <a href="/login">Dashboard</a>
                {{/if}}

                {{#if loggedIn}}
                <button id="logout" class="btn-style">Logout</button>
                {{else}}
                <a href="/login" class="button is-primary">Login</a>
                {{/if}}
            </nav>
        </header>

        <main>
            <!--- Render the sub layoyt --->
            {{{ body }}}
        </main>

        <!--- Render script for logged in users only --->
        {{#if loggedIn}}
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <script src="/javascript/logout.js"></script>
        {{/if}}
    </div>
</body>

</html>