<section>
    <a href="/dashboard"> &larr; Back to dashboard</a>
    <h2 class="title pb-4">Create New Post</h2>

    <form class="new-post-form">
        <div>
            <label for="post-title"><b>Title</b></label>
            <input class="input" type="text" id="post-title" name="post-title" />
        </div>
        <div>
            <label for="post-content"></b>Content</b></label>
            <textarea class = "textarea" id="post-content" name="post-content"></textarea> 
        </div>
        <button type="submit" class="button is primary">CREATE</button>
    </form>
</section>

<script src="/javascript/add-post.js"></script>