<ol class="post-list">
    <!-- Loop over each object in the posts array -->
    {{#each posts as |post|}}
    <li>
        {{> post-info}}
    </li>
    <h6 class="pb-4 has-text-centered is-italic">Currently there are no posts</h6>
    
    {{/each}}
</ol>