<div class="container">
    <h2 class="title pb-4" style="margin-bottom: 20px;">Login</h2>

    <form class="login-form">
        <div>
            <label for="username-login"><b>Username:</b></label>
            <input type="text" id="username-login" />
        </div>
        <div>
            <label for="password-login"><b>Password:</b></label>
            <input type="password" id="password-login" />
        </div>
        <div>
            <button class="button is primary" type="submit" id="login-btn">Login</button>
            <a href="/signup"><button type="button" class="button is-primary">Sign Up Instead</button></a>
        </div>
    </form>
</div>


<script src="/javascript/login.js"></script>