<div class="container">
    <h3 style="margin-bottom: 20px;">Login</h3>

    <form class="signup-form">
        <div>
            <label for="username-login"><b>Username:</b></label>
            <input type="text" id="username-signup" />
        </div>
        <div>
            <label for="email-login"><b>Email:</b></label>
            <input type="text" id="email-signup" />
        </div>
        <div>
            <label for="password-login"><b>Password:</b></label>
            <input type="password" id="password-signup" />
        </div>
        <div>
            <button type="submit" id="signup-btn">Sign Up</button>
            <a href="/login"><button type="button" class="button">Login Instead</button></a>
        </div>
    </form>
</div>

<script src="/public/javascript/signup.js"></script>