<!--- Displaying articles --->
{{> post-info post}}

<!--- displaying form and comments --->
<!--- only display if logged in --->
{{#if loggedIn}}
<form class="comment-form">
    <div>
        <textarea class="ml-5" name="feedback"></textarea>
    </div>

    <div>
        <button class="button ml-5 mb-5" type="submit">Add comment</button>
        <button type="button" class="button is-danger delete-post-btn">Delete Post</button>
    </div>
</form> 
{{/if}}

{{> comments post.comments}}

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
<script src="/javascript/delete-post.js"></script>
{{/if}}